#container{
    background-color: aliceblue;
    height: 300px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 10px;
    align-items: top;
}


.img-card{
    align-items: start;
}


